name: .NET Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Test
      run: dotnet test TrinoIcebergTests.slnx
